# ==========================================
# API Backend
# ==========================================
VITE_API_URL=http://localhost:8000

# ==========================================
# Keycloak (FASE 1 - IAM)
# ==========================================
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=internado-uv
VITE_KEYCLOAK_CLIENT_ID=internado-frontend
